<!-- templates/users.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Users Management Back Office</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"> -->
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Users Management</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
